/* style.css */
body {
  background-color: #f7f9fb;
}
input[type="text"], input[type="date"] {
  max-width: 260px;
  display: inline-block;
}
#main-panel label { font-weight: 500; }
@media (max-width: 600px) {
  .container { padding: 0 3px !important; }
  input[type="text"], input[type="date"] { max-width: 99%; }
}
ul.list-group { margin:0; padding:0;}
